<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

  <%= link_to 'Add Tours', new_tour_path %> |
  <%= link_to 'Edit Profile', edit_agent_path(@agent) %> |
  <%= link_to 'Show Tours', tours_url %> |
  <%= button_to 'Delete Account', @agent, method: :delete, data: { confirm: 'Are you sure?' } %>


