<p id="notice"><%= notice %></p>

<% if @search.search_tours.empty? %>
  <p> No records found</p>
  <a href="javascript:history.back()" class="btn btn-default">Back</a>
<% else %>
  <% @search.search_tours.each do |c| %>
    <div class="div">
      <h1><%= c.id %></h1>
      <%# if session[:role] != 'Realtor' %>
        <%#= link_to 'Add to Favourites', "/favourites/add/#{current_user.id}/#{c.id}" %>
      <%# end %>
      <p>Name: <%= c.name %></p>
      <p>Description: <%= c.description %></p>
      <p>Price: <%= c.price %></p>
      <p>Booking Deadline: <%= c.booking_deadline %></p>
      <p>Start Date: <%= c.start_date %></p>
      <p>End Date: $<%= c.end_date %></p>
      <p>Start Location: <%= c.start_location %></p>
      <p>Itinerary: <%= c.itinerary %></p>
      <p>Agent Id: <%= c.agent_id %></p>
      <p>Seats: <%= c.seats %></p>
      <p>Status: <%= c.status %></p>
    </div>
  <% end %>

<% unless session[:role] == 'Customer' %>
  <%= link_to 'Edit', edit_search_path(@search) %> |
<% end %>
<%= link_to 'Back', tours_path %>
<%end %>