<!DOCTYPE html>
<html>
  <head>
    <title>TourManagementSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div >
      <div style="margin-left:85%">
        <% if logged_in? %>
          <%= link_to "Home Page",    @current_user %>
          <%= button_to 'Log out'.html_safe, '/logout', method: :delete %>
        <% else %>
          <%= link_to "Home",  '/home' %>
          <%= link_to "Log in", '/login' %>
        <% end %>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
